.menu{
    position: fixed;
    top: 0px;
    right: 50px;
    cursor: pointer;
}

.hamburguer {
    position: relative;
    display: block;
    background: rgb(250, 247, 247);
    width: 22px;
    height: 3px;
    top: 25px;
    left: 35px;
    transition: 0.3s ease-in-out;
}

.hamburguer:before,
.hamburguer:after{
    background: rgb(252, 250, 250);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.3s ease-in-out;
}

.hamburguer:before{
    top: -7px;
}

.hamburguer:after{
    bottom: -7px;
}

input {
    display: none;
    width: 100px;
    height: 100px;
}

input:checked ~ label .hamburguer{
    transform: rotate(-45deg);
}

input:checked ~ label .hamburguer:before{
    transform: rotate(-90deg);
    top: 0;
}

input:checked ~ label .hamburguer:after{
    transform: rotate(-90deg);
    bottom: 0;
}