.menu{
    position: fixed;
    top: 0px;
    right: 50px;
    cursor: pointer;
    z-index: 20;
}

.hamburguer {
    position: fixed;
    display: block;
    background: rgb(250, 247, 247);
    width: 22px;
    height: 3px;
    top: 25px;
    left: 88.5%;
    transition: 0.3s ease-in-out;
    z-index: 2;

}

.hamburguer:before,
.hamburguer:after{
    background: rgb(252, 250, 250);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.3s ease-in-out;
}

.hamburguer:before{
    top: -7px;
}

.hamburguer:after{
    bottom: -7px;
}

input {
    display: none;
    width: 200px;
    height: 200px;
}

input:checked ~ label .hamburguer{
    transform: rotate(-45deg);
}

input:checked ~ label .hamburguer:before{
    transform: rotate(-90deg);
    top: 0;
}

input:checked ~ label .hamburguer:after{
    transform: rotate(-90deg);
    bottom: 0;
}

.lateral{
    background-color: #000;
    position: absolute;
    height: 100vh;
    width: 340px;
    display: block;
    top: 0px;
    transition: all .2s ease-in-out;
    left: 340px;
}


input:checked ~ .lateral{
    transform: translateX(-340px);
}

.item-menu{
    margin-top: 30px;
    margin-left: 40px;
    font-size: 16px;
}

.item-menu-cinza{
    color: #b2b3b2;
}

.item-menu-logo{
    margin-top: 150px;
}