
.main{
    background: #2D46B9 url(../../assets/img/bursts-mobile.svg) no-repeat;
    background-size: 195%;
    background-position: top 25% center;
    height: 568px;
    text-align: center;
    margin: 0 auto;
    z-index: 0;
    height: 100vh;
}

.main-text{
    color: #1ED760;
    position: relative;
    top: 145px;
}

.main-text h1{
    letter-spacing: -0.04em;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 900px;
}

.main-text h4{
    font-size: 15px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 32px;
    font-weight: 500;
}


.button{
    position: relative;
    top: 130px;
    color: #2940a8;
    background-color: #1ED760;
    border-radius: 2rem;
    padding: 20px;
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    width: 280px;
    margin: 0 auto;
}
.main a{
    text-decoration: none;
    letter-spacing: 0.26rem;
}

.content-center{
    width: 100%;
    height: 100%;
    position: relative;
    top: 15%;
}



@media(min-width: 768px){
    .main{
        height: 100vh;
        background-size: 110%;
        background-position: left center;
    }

    .main-text h1{
        font-size: 104px;
        margin-bottom: 40px;
    }

    .content-center{
        position: relative;
        top: 8%;
        width: 80%;
        margin: 0 auto;
    }

    .button{
        width: 400px;
        letter-spacing: 0.10rem;
    }
}

@media(min-width: 1200px){
    .main{
        background: #2D46B9 url(../../assets/img/bursts.svg) no-repeat;
        background-size: 175%;
        background-position: 46% 4%;
    }

    .main-text h1{
        font-size: 150px;
    }

    .content-center{
        width: 60%;
    }
}