.header{
    width: 100%;
    padding: 0.7rem;
    font-size: 0.5rem;
    background-color: #000;
    color: #fff;
    position: fixed;
    top: 0;
}

.header img{
    width: 88px;
    height: 28px;
}