.footer{
    height: 100%;
    background-color: #000;
    padding: 50px 15px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.logo img{
    width: 88px;
    height: 28px;
}
.logo{
    height: 28px;
}
.footer h3{
    color: #919496;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: .08em;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 22px;
}

.footer ol{
    list-style-type: none;
}

.footer li{
    display: block;
    color: #fff;
    text-decoration: none;
    padding-bottom: 15px;
}

.social-icons ul{
    display: flex;
    margin-top: 100px;

}

.social-icons li i{
    background-color: #222326;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
}

.footer h6{
    color: #bdc0c2;
    font-weight: 400;
    margin-bottom: 20px;
}

.ao-lado{
    display: flex;
}

.ao-lado li{
    margin-right: 30px;
}

.copy{
    float: right;
    clear: both;
    font-size: 15px;
}

.copy ul{
    display: flex;
    align-items: center;
    position: relative;
    right: -25px;
}

.copy img{
    width: 20px;
    margin-left: 10px;
    margin-bottom: 15px;
}



@media(min-width: 768px){
    .footer{
        width: max-content;
        margin: 0 auto;
        flex-direction: row;
        justify-content: center;
    }
    nav{
        position: relative;
        top: -43px;
        left: 20px;
        margin-right: 50px;
    }

    .social-icons{
        position: relative;
        top: -100px;
    }

    .footer-items{
        display: flex;
        flex-direction: row-reverse;
    }

    .footer-items ul{
        position: relative;
        top: 50px;
        display: flex;
        justify-content: center;
    }
    .footer-items ul h6{
        margin-right: 20px;
    }
}